
.petc-attr-editor {
  padding: 20px 20px 20px;
  position: absolute;
}

.petc-attr-editor input {
  background-color: var(--editor-bg);
  border-radius: 5px;
  border: 1px solid rgba(210, 210, 210, 1);
  color: grey;
  font-family: var(--font);
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.petc-attr-editor td {
  text-align: center;
}

.petc-attr-editor option,
.petc-attr-editor select {
  background-color: var(--editor-bg);
  border-radius: 5px;
  border: 1px solid rgba(210, 210, 210, 1);
  color: grey;
  font-family: var(--font);
  font-size: larger;
  font-weight: bold;
  text-align: center;
  text-indent: 30%;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

