
#petc-breadcrumbs {
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.2);
  font-size: larger;
  left: 30%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 30%;
  z-index: var(--z-index-page-bg);
}
