#petc-node-select-control {
  float: left;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  top: 35px;
  z-index: var(--z-index-modal);
}

#petc-node-select-control ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#petc-node-select-control li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 5px;
}


